# Application config
APP_NAME=legacy-rp-admin-v3
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DISCORD_OAUTH_ID=discord_client_id
DISCORD_OAUTH_SECRET=discord_client_secret

# Database connection
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=legacy-rp-admin-v3
DB_USERNAME=root
DB_PASSWORD=password

# Discord lookup
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=1234

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

VUE_APP_LOCALE=en-us

# OP-FW configuration
OP_FW_SERVERS=c3s1.op-framework.com,c3s2.op-framework.com
OP_FW_TOKEN=mytoken
DEV_API_KEY=some_random_token

ALLOW_ROLE_EDITING=false

HIDE_BAN_CREATOR=false
