# Generated content using mix
/public/js
/public/css
/public/fonts
/public/build
/public/mix-manifest.json
/public/images/vendor/
/public/_uploads
/public/_transcripts
/public/_discord_attachments
/*.exe

# env
.env
!/.env

# IDE specific
/.idea

# Other stuff
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/sessions
/storage/locks
/storage/cache
/vendor
envs/.env
deploy.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
tiles
npm.log
cron.sh
/storage/screenshots/
/storage/bans/
envs/root-config.json
/*.tar.gz
update-panels.exe~
/update
/_migrate